/* header.css */

body {
    margin: 0;
    padding: 0;
    font-family: "Jacques Francois", serif !important;
}

header {
   position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px; /* Changed height to 90px */
    padding: 10px 15px;
    background-color: white; /* Changed background color to white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index:5;
}

.logo a {
    font-size: 40px;
    color: #0056b3; /* Changed color to match the logo color */
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px !important;
    font-family: "Jacques Francois", serif !important;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    margin-left: 10px;
    
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: black; /* Changed link color to black */
    text-decoration: none;
    font-size: 18px; /* Increased font size to 18px */
    padding: 8px 12px;  
    transition: transform 0.3s ease; /* Added transition for scaling effect */
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom: 2px solid #0056b3; /* Added border-bottom on hover */
    transform: scale(1.1); /* Scales the link on hover */
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
        margin-left: 0; /* Reset margin to zero */
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* Adjusted margin to create space on small screens */
    }

    nav ul li a {
        padding: 5px 12px; /* Reduced padding for links on small screens */
    }
}