/* styles.css */


body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    margin-top: 1px;
}


p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}


/* the style for the image*/

.box img{
    margin-top: 80px;
    
    margin-right: auto;
}
 img{
    margin-left: 210px;
    background-size: cover;
    background-position:center;
    width:800px;
    height:300px;
    border-radius: 30px;
 }  
 img:hover{
    border:2px solid #0056b3;
 }
  a{
    text-decoration: none;
    font-size: 34px;
    color:#0056b3;
    transition: transform 0.3s ease; 
 }
div p a:hover{
transform: scale(1.2);
border-bottom: 2px soild #0056b3;
 }

 @media (max-width: 768px){
   .box{
    text-align: center;
   }
    .box img{
        width:400px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 5vh;
        margin-right: 40px;
    }
 }