/* styles.css */
body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/029/840/418/large_2x/e-commerce-shopping-cart-with-multiple-products-a-sunlit-abstract-background-e-commerce-concept-ai-generative-free-photo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image:url('/images/imge-1.jpg');
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 70px;
}


p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}
