body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://i.pinimg.com/originals/b0/a1/68/b0a168b54ef9fd4ee0446f76935568db.jpg');
    background-size: cover;
    background-position:center;
}

.error-border {
    border: 2px solid red;
}
.error-message {
    color: red;
    font-size: 0.9em;
}
.success-message {
    color: green;
    font-size: 1em;
}
.container-box{
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    width:350px;
    height: 400px;
    margin-top: 40px;
    border: 2px solid white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-box h2{
    font-size: 35px;
    color: #007bff;
    margin-bottom:20px;
    text-align:center;
}
.container-box input[type="text"],
.container-box input[type="email"],
.container-box input[type="password"] {
    width: 100%;
    padding: 12px 42px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 16px;
}

.container-box input[type="text"]:focus,
.container-box input[type="email"]:focus,
.container-box input[type="password"]:focus {
    border: 2px solid#007bff ;
    outline: none;
}

.container-box button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-bottom:20px;
    transition: transform 0.3s ease; 
}

.container-box button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.1);
}
.container-box label {
    display: block;
    font-size: 18px;
    color: #6c757d; /* A lighter shade of gray */}

    .container-box a {
        text-decoration:none;
        color: #007bff;
        margin-left:70px;
        transition: transform 0.3s ease;     
    }
    .container-box a:hover{
        transform: scale(1.2);
    }
    .container-box .iconp{
        position: absolute;
        color:#007bff;
        top: 55.5%;
        right: 61.5%;
        transform: translateY(-50%);
        font-size: 20px;
    }
    .container-box .icone{
       position:absolute;
       color:#007bff;
        top: 42%;
        right: 61%;
        transform: translateY(-50%);
        font-size: 20px;
    } 
    

    @media (max-width:760px){
        .container-box{
            width:55%;
            height: 320px;
        }
        .container-box h2{
            margin-top:-8px;
        }
        .container-box .iconp{
            top: 48.8%;
            right: 69.5%;
            font-size:17px;
        }
        .container-box .icone{
            top: 35.3%;
            right: 69.5%;
            font-size: 17px;
        } 
        .container-box a{
            margin-left: 50px;
        }
    }