/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}
/* Responsive design for mobile devices */
@media (max-width: 768px) {
logo a{
    margin-left: 0;
}

   
}

.container h2, h3 {
    text-align: center;
    color: #007bff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 34px;
}

.container {
    padding: 80px 20px 20px; /* Adjust top padding to account for the fixed header */
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-form input,
.product-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.product-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.product-form button[type="submit"]:not([name="add"]) {
    background-color: #007bff;
}

.product-form button[type="submit"][name="delete"] {
    background-color: #dc3545;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}

.product form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
